main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.background{
    background-color: #B9B8B9;
}

.ts{
    padding-top: 40%;
    /* padding-left: 10%; */
    position: absolute;
    letter-spacing: .15em;
    font-size: 7em;
    z-index: 1;
    text-align: right;
    bottom: 40%;
    

    font-family: Georgia;
    
    /* margin: 0 auto; */
}   
.ts2{
    padding-top: 40%;
    position: absolute;
    letter-spacing: .15em;
    font-size: 7em;
    z-index: 1;
    text-align: left;
    bottom: 40%;
    font-family: Georgia;
    padding-left: 7%;
    /* margin: 0 auto; */
}   

.cherries{
    color: #9C0E11;
    font-size: 70px;
    letter-spacing: 20px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    font-family: Georgia;
    font-style: bold;
    position: absolute;
    bottom: 10%;
    right: 15%
}
body{
    position: relative;
    padding: 0;
    margin: 0;
}
.cherry{
    width: 100%;

}
.divgrid{
    position: relative;
}
.background{
    position: relative;
}